name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: 设置JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'
      - name: 通过Maven构建
        run: mvn --batch-mode --update-snapshots verify
      - name: 复制构建结果
        run: mkdir staging && cp target/*.jar staging
      - name: 上传构建结果
        uses: actions/upload-artifact@v2
        with:
          name: Package
          path: staging